[submodule "officials/vllm-ascend"]
	path = officials/vllm-ascend
	url = https://github.com/vllm-project/vllm-ascend.git
[submodule "officials/vllm-skills"]
	path = officials/vllm-skills
	url = https://github.com/vllm-project/vllm-skills.git
[submodule "officials/kernelwiki/KernelWiki"]
	path = officials/kernelwiki/KernelWiki
	url = https://github.com/mit-han-lab/KernelWiki.git
[submodule "officials/hpc_mlsys/ncu-report-skill"]
	path = officials/hpc_mlsys/ncu-report-skill
	url = https://github.com/mit-han-lab/ncu-report-skill.git
[submodule "officials/hpc_mlsys/nvidia-skills"]
	path = officials/hpc_mlsys/nvidia-skills
	url = https://github.com/NVIDIA/skills.git
[submodule "officials/hpc_mlsys/flagos-skills"]
	path = officials/hpc_mlsys/flagos-skills
	url = https://github.com/flagos-ai/skills.git
[submodule "officials/hpc_mlsys/ai-research-skills"]
	path = officials/hpc_mlsys/ai-research-skills
	url = https://github.com/Orchestra-Research/AI-research-SKILLs.git
[submodule "officials/hpc_mlsys/nemo-evaluator"]
	path = officials/hpc_mlsys/nemo-evaluator
	url = https://github.com/NVIDIA-NeMo/Evaluator.git
[submodule "officials/scientific/scientific-agent-skills"]
	path = officials/scientific/scientific-agent-skills
	url = https://github.com/K-Dense-AI/scientific-agent-skills.git
[submodule "officials/scientific/huggingface-skills"]
	path = officials/scientific/huggingface-skills
	url = https://github.com/huggingface/skills.git
[submodule "officials/skill_discovery/skills-vote"]
	path = officials/skill_discovery/skills-vote
	url = https://github.com/MemTensor/skills-vote.git
